.body{
    background-color: rgb(90, 238, 238);
}

.img{
    display: block;
    margin:0 auto;
    margin-bottom:20px;
    
}
.img2{
    text-align: center;
    
    
}
.img2in{    
    width: 400px;
    height:300px;
    border:dashed 3px;
}
.header{
    font-family:"Poppins";
    text-align: center;
    color:blueviolet;
    animation: fade-in red 1s;
}

.input{
    transition: 0.4s;
    cursor: pointer;
}

.input:hover {
    transform: scale(1.5);
}
